h1 {
  font-family: 'Satisfy', cursive;
}

nav {
  font-family: 'Julius Sans One', sans-serif;
}

p {
  font-weight: bold;
}

.img {
}

.grid-1 {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 2fr 1fr 1fr;
}
