button {
  border: none;
  display: inline-block;
  background-color: $mainButton;
  margin-top: 1px;
  padding: 0.55rem 1rem;
  font-size: 1rem;
  border-radius: 2px;
  opacity: 0.85;
  transition: 0.25s;
  text-transform: uppercase;
  color: $mainText;

  &:hover {
    opacity: 1;
    color: whitesmoke;
  }
}
