.cover {
  position: relative;
  border-bottom: 20px solid whitesmoke;

  & img {
    filter: brightness(70%);
    display: block;
  }

  &__cover-title {
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    padding-top: 50px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    text-shadow: 1px 1px rgb(179, 179, 179);

    @mixin atSmall {
      font-size: 3.5rem;
    }

    @mixin atMedium {
      font-size: 4rem;
    }

    @mixin atLarge {
      font-size: 6rem;
    }
  }
}
