.primary-nav {
  &--pull-right {
    float: right;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    float: left;
    padding: 1rem 1rem;
    margin-right: 20px;
    font-size: 1.4rem;
    color: $mainText;
    opacity: 0.75;
    transition: 0.2s;

    &:hover {
      opacity: 1;
      color: whitesmoke;
      font-size: 1.41rem;
    }
  }
}
