.site-header {
  position: absolute;
  z-index: 2;
  width: 100%;

  @mixin atMedium {
    background-color: rgba(146, 145, 145, 0.4);
    height: 75px;
    padding: 25px 0 0 0;
  }

  &__btn-container {
    float: right;
    padding-top: 6px;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 2%;
    font-size: 0.8rem;
    width: 100%;
    color: $mainText;

    @mixin atSmall {
      font-size: 1rem;
    }

    @mixin atMedium {
      font-size: 1.3rem;
      word-spacing: 8px;
      transform: translateX(0);
    }
  }

  &__menu-icon {
    width: 22px;
    height: 22px;
    background-color: $mainText;
    position: absolute;
    top: 20px;
    right: 20px;

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-content {
    display: none;

    @mixin atMedium {
      display: block;
    }
  }
}
